<!-- app/views/users/edit.html.erb -->
<h1>Editar Perfil</h1>

<%= form_with model: @user, url: user_path, method: :patch do |form| %>
  <div class="field">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture %>
  </div>

  <div class="field">
    <%= form.label :relevant_data %>
    <%= form.text_area :relevant_data %>
  </div>

  <div class="actions">
    <%= form.submit "Actualizar perfil" %>
  </div>
<% end %>
